@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

input {
    /* display: none; */
    position: absolute;
    z-index: 3;
}


@media (max-width: 960px) {

    .main-content h2 {
        font-size: 30px !important;
    }
    .main-content h2 span{
        font-size: 35px !important;
        color: green !important;
    }

    .main-content p{
        font-size: 12px !important;
        font-weight: bolder !important;
    }
    
    .main-content .info-button {
        font-size: 9px !important;
    }

    header nav {
        display: none;
    }
    label {
        display: block !important;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .logo {
        top: 10px
    }



    label:hover {
        color: #fff;
    }

    label .fa-xmark {
        display: none;
    }

    #check:checked ~ header nav{
        position: fixed;
        z-index: 2;
        background: rgba(114, 223, 255, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


     #check:checked ~ header nav a {
         margin: 0;
         margin-bottom: 50px;
         font-weight: 700;
         letter-spacing: 2px;
     }

     #check:checked ~ header label .fa-bars{
         display: none;
         position: absolute;
     }

     #check:checked ~ header .fa-xmark {
         display: block;
         z-index: 2;
         position: fixed;
     }

     input {
         display: none;
     }
    
}

input {
    display: none;
}
label .fa-bars {
    position: absolute;
}

label {
    display: none;
}


.main {
    display: flex;
    padding-top: 50px;
    position: relative;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px 100px 14px 100px;
    background: rgba(114,223,254, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: #000;
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}

header nav {
    justify-content: space-between;
    position: relative;
}

header nav a {
    color: #000;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s ease background;
}

header nav a:not(:last-child) {
    margin-right: 30px;
}

header nav a:hover {
    background-color: #fff;
}

.main-content {

    max-width: 650px;
    margin: 60px 100px;


}

.main-content h2 {
    color: #226AB0;
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: 2px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 30px;
}

.main-content h2 span {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 10px;
}

.main-content p {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 40px;
}

.info-button {
    color:#fff;
    background-color: #226AB0;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
    font-weight: 700;
    transition: 0.3s ease background;
}

.info-button:hover {
    background: #0C4F60;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto
}

.social-media a{
    font-size: 25px;
    color: #111;
    position: relative;
    transition: 0.3s ease;
}

.social-media a:not(:last-child) {
    margin-right: 60px;
}

.social-media a:hover {
    transform: scale(1.5);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

#about h2 {
    padding: 60px 0px;
    font-size: 2.5em;
    color: #226AB0;
}

#about p{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 87%;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 1.1em;
    font-weight: 500;
}

#about span{
    font-weight: bolder;
    font-size: 35px;
    color: #226AB0;
}

#services {
    background-color: white;
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#services h2 {
    margin-top: 60px;
    text-align: center;
    font-size: 2.5em;
    color: #226AB0;
}